/* Main properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.wrapper {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.wallpapersafari.com/59/33/d5Hc7t.jpg");
    background-position: center;
}

/* Slider */
.slider {
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 400px;
}

.slider-images {
    position: relative;
    height: 100%;
    border: 1px dotted #3f76b4;
    box-shadow: 0 0 5px 5px #33477e;
}

.slider-bullets i {
    position: absolute;
    bottom: 15px;
    left: 50%;
    color: #c2e3ff;
    font-size: 25px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-prev i,
.slider-next i {
    font-size: 50px;
    color: #fff;
    margin: 0 20px;
    cursor: pointer;
}