/* Main properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.wallpapersafari.com/59/33/d5Hc7t.jpg");
    background-position: center;
}

.wrapper h3 {
    margin-top: 40px;
    font-size: 70px;
    font-style: italic;
    letter-spacing: 3px;
}

/* Slider */
.slider {
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 400px;
    margin-top: 100px;
}

/* Images */
.slider-images {
    position: relative;
    height: 100%;
    border: 1px dotted #3f76b4;
    box-shadow: 0 0 5px 5px #33477e;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bullets */
.slider-bullets {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-bullets i {
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
}

/* Left - Right arrows */
.slider-prev i,
.slider-next i {
    font-size: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.wrapper h3,
.slider-bullets i,
.slider-prev i,
.slider-next i {
    color: #c4e2ff;
}

.slider-next i:hover,
.slider-prev i:hover,
.slider-bullets i:hover,
.slider-bullets i.active {
    color: #135caf;
}